<switch name="field.type">
	<case value="hidden">
		<div class="am-form-group" style="display: none!important;">
			<php>
				$value = $field['value'] != ''	 ? $field['value'] : $field['opt']['value'];
			</php>
		    <input type="hidden" name="{$field.name}" class="tpl-form-input"  placeholder="{$field.opt.placeholder}" value="{$value}">
		</div>
	</case>
	<case value="textDisabled">
		<div class="am-form-group">
			<label  class="am-u-sm-2 am-form-label">{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<php>
				$value = $field['value'] != '' ? $field['value'] : $field['opt']['value'];
			</php>
			<div class="am-u-sm-4">
		        <input type="text" name="{$field.name}" class="tpl-form-input" placeholder="{$field.opt.placeholder}"
		        value="{$value}"  disabled="disabled" style="border: none;">
		        <small>{$field.opt.error}</small>
		    </div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
		</div>
	</case>
	<case value="textnumber">
		<div class="am-form-group">
			<label class="am-u-sm-2 am-form-label">{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<php>
				$value = $field['value'] != ''? $field['value'] : $field['opt']['value'];
			</php>
			<div class="am-u-sm-4">
		        <input type="number" name="{$field.name}" class="tpl-form-input"  placeholder="{$field.opt.placeholder}" value="{$value}">
		        <small>{$field.opt.error}</small>
		    </div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
		</div>
	</case>
	<case value="radio">
		<div class="am-form-group">
			<label class="am-u-sm-2 am-form-label">{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<php>
				$select = $field['opt']['checked'];
			</php>
			<div class="am-u-sm-4">
				<volist name="select" id="key">
					<div class="am-radio">
						<label>
							<input type="radio" name="{$field.name}"  value="{$key}"  checked>
							{$select.$key}
						</label>
					</div>
				</volist>
				<small>{$field.opt.error}</small>
			</div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
		</div>
	</case>
	<case value="text">
		<div class="am-form-group">
			<label class="am-u-sm-2 am-form-label">{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<php>
				$value = $field['value'] != '' ? $field['value'] : $field['opt']['value'];
			</php>
			<div class="am-u-sm-4">
		        <input type="text" name="{$field.name}" class="tpl-form-input"  placeholder="{$field.opt.placeholder}" value="{$value}">
		        <small>{$field.opt.error}</small>
		    </div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
		</div>
	</case>
	<case value="time">
		<div class="am-form-group">
			<label class="am-u-sm-2 am-form-label">{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<php>
				$value = $field['value'] != '' ? $field['value'] : $field['opt']['value'];
			</php>
			<div class="am-u-sm-4">
				<input type="text" name="{$field.name}" class="tpl-form-input"  data-am-datepicker  value="{$value}" readonly>
				<small>{$field.opt.error}</small>
			</div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
		</div>
	</case>
	<case value="span">
		<div class="am-form-group">
			<label for="user-intro" class="am-u-sm-2 am-form-label">{$field.title} </label>
			<div class="am-u-sm-4">
				<span>{$field.value}</span>
			</div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
		</div>
	</case>
	<case value="textarea">
		<div class="am-form-group">
            <label for="user-intro" class="am-u-sm-2 am-form-label">{$field.title} </label>
            <div class="am-u-sm-4">
                <textarea rows="10"   name="{$field.name}" id="user-intro" placeholder="{$field.opt.placeholder}">{$field.value}</textarea>
            </div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
        </div>
	</case>
	<case value="select">
		<div class="am-form-group">
            <label  class="am-u-sm-2 am-form-label">{$field.title} <span class="tpl-form-line-small-title">{$field.subtitle}</span></label>
            <div class="am-u-sm-4">
                <select data-am-selected="{searchBox: 1,maxHeight: 200}" name="{$field.name}">
				  	 <volist name="field.opt" id="option">
		                <php>
		                    $selected = $field['value']==$key ? 'selected="selected" ' : '';
		                </php>
		                <option value="{$key}"  {$selected} >{$option|htmlspecialchars}</option>
		            </volist>
				</select>
            </div>
			<div class="am-u-sm-6"></div>
        </div>
	</case>
	<case value="DisabledStatus">
		<div class="am-form-group">

            <label class="am-u-sm-2 am-form-label">{$field.title} <span class="tpl-form-line-small-title">{$field.subtitle}</span></label>
            <div class="am-u-sm-4">
                <select data-am-selected="{searchBox: 1}" name="{$field.name}" disabled="disabled">
				  	 <volist name="field.opt" id="option">
		                <php>
		                    $selected = $field['value']==$key ? 'selected="selected" ' : '';
		                </php>
		                <option value="{$key}"  {$selected}>{$option|htmlspecialchars}</option>
		            </volist>
				</select>
            </div>
			<div class="am-u-sm-6"></div>
        </div>
	</case>
	<case value="showimg">
		<div class="am-form-group">
            <label class="am-u-sm-2 am-form-label">
            	{$field.title} 
            	<span class="tpl-form-line-small-title">{$field.subtitle}</span>
            </label>
            <div class="am-u-sm-4">
                <div class="am-form-group am-form-file" >
                   	<empty name="$field.value">
                   		 <div class="tpl-form-file-img">
                        	<img src="{$field.value}" id="showimg_{$field.name}" style='max-width:150px;max-height:150px'>
                    	</div>

                   	</empty>
                	<input type="hidden" id="showimg_field_hidden_{$field.name}" name="{$field.name}" value="{$field.value}">
                </div>
            </div>
			<div class="am-u-sm-6">{$field.opt.prompt}</div>
        </div>
	</case>
	<case value="uploadimg">
		<div class="am-form-group">
            <label class="am-u-sm-2 am-form-label">
            	{$field.title} 
            	<span class="tpl-form-line-small-title">{$field.subtitle}</span>
            </label>
            <div class="am-u-sm-4">
                <div class="am-form-group am-form-file" >
                   	<empty name="$field.value">
                   		 <div class="tpl-form-file-img">
                        	<img style='max-width:150px;max-height:150px' src="{$field.value}" id="img_{$field.name}" style='max-width:150px;max-height:150px'>
                    	</div>
                   	</empty>
                	<input type="hidden" id="img_field_hidden_{$field.name}" name="{$field.name}"  value="{$field.value}">
                	<div id="fileImg_{$field.name}">
                		<button type="button"  class="am-btn am-btn-danger am-btn-sm">
							<i class="am-icon-cloud-upload"></i> {$field.opt.btntitle}
						</button>
	                    <input id="doc-form-file_{$field.name}"  type="file">
                	</div>
                </div>
            </div>
			<div class="am-u-sm-6"></div>
        </div>
        <script type="text/javascript">
    		$(function(){
    			function init{$field.name}Webuploader(){
    				var uploader_{$field.name} = WebUploader.create({
		        		 auto: true,
		        		 swf: "__JS__/Uploader.swf",
		        		 server:"{:U('Upload/UploadImg')}",
		        		 pick:"#fileImg_{$field.name}",
		        		 duplicate:true,
		        		 accept: {
						    title: 'Images',
						    extensions: 'gif,jpg,jpeg,bmp,png',
						    mimeTypes: 'image/*'
					     }
		        	});
		        	uploader_{$field.name}.on("uploadSuccess",function(file,data){

		        		if(data.ret == 1){
		        			var data = data.data;
		        			$("#img_{$field.name}").attr("src",data.root_path);
		        			$("#img_field_hidden_{$field.name}").val(data.path);
		        		}
		        	});
		        	uploader_{$field.name}.on("uploadFinished", function () {
				        uploader_{$field.name}.destroy();
				        init{$field.name}Webuploader();
				    });
    			}
    			init{$field.name}Webuploader();
    		})
        </script>
	</case>
	<case value="uploadfalsh">
		<div class="am-form-group">
            <label class="am-u-sm-2 am-form-label">
            	{$field.title} 
            	<span class="tpl-form-line-small-title">{$field.subtitle}</span>
            </label>
            <div class="am-u-sm-4">
                <div class="am-form-group am-form-file" >
               		<div id="tpl-form-file-swf_{$field.name}">
               		 	<empty name="$field.value">
                    		<embed style='max-width:150px;max-height:150px' src="{$field.value}" id="swf_{$field.name}"></embed>
                    	</empty>
                	</div>
                	<input type="hidden" id="swf_field_hidden_{$field.name}" name="{$field.name}" value="{$field.value}">
                	<div id="fileSwf_{$field.name}">
                		<button type="button"  class="am-btn am-btn-danger am-btn-sm">
							<i class="am-icon-cloud-upload"></i> {$field.opt.btntitle}
						</button>
	                    <input id="swf-form-file_{$field.name}" type="file">
                	</div>
                </div>
            </div>
			<div class="am-u-sm-6">
				{$field.opt.prompt}
			</div>
        </div>
        <script type="text/javascript">
    		$(function(){
    			function init{$field.name}Webuploader(){
    				var uploader_{$field.name} = WebUploader.create({
		        		 auto: true,
		        		 swf: "__JS__/Uploader.swf",
		        		 server:"{:U('Upload/UploadImg')}",
		        		 pick:"#fileSwf_{$field.name}",
		        		 formData:{"exts":"swf"},
		        		 duplicate:true,
		        		 accept: {
						    title: 'Images',
						    extensions: 'swf',
						    mimeTypes: 'swf'
					     }
		        	});
		        	uploader_{$field.name}.on("uploadSuccess",function(file,data){
                        console.log(file);
                        console.log(data);
		        		if(data.ret == 1){
		        			var data = data.data;
		        			$("#swf_{$field.name}").remove()
		        			var html = "<embed style='max-width:150px;max-height:150px' src='"+data.root_path+"' id='swf_{$field.name}'></embed>";
		        			$("#tpl-form-file-swf_{$field.name}").append(html);
		        			$("#swf_field_hidden_{$field.name}").val(data.path);
		        		}
		        	});
		        	uploader_{$field.name}.on("uploadFinished", function () {
				        uploader_{$field.name}.destroy();
				        init{$field.name}Webuploader();
				    });
    			}
    			init{$field.name}Webuploader();
    		})
        </script>
	</case>
	<case value="uploadwebp">
		<div class="am-form-group">
			<label class="am-u-sm-2 am-form-label">
				{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<div class="am-u-sm-4">
				<div class="am-form-group am-form-file" >
					<div id="tpl-form-file-webp_{$field.name}">
						<empty  name="$field.value">
							<embed src="{$field.value}" id="webp_{$field.name}"></embed>
						</empty>
					</div>
					<input type="hidden" id="webp_field_hidden_{$field.name}" name="{$field.name}" value="{$field.value}">
					<div id="fileWebp_{$field.name}">
						<button type="button"  class="am-btn am-btn-danger am-btn-sm">
							<i class="am-icon-cloud-upload"></i> {$field.opt.btntitle}
						</button>
						<input id="webp-form-file_{$field.name}" type="file">
					</div>
				</div>
			</div>
			<div class="am-u-sm-6">
				{$field.opt.prompt}
			</div>
		</div>
		<script type="text/javascript">
            $(function(){
                function init{$field.name}Webuploader(){
                    var uploader_{$field.name} = WebUploader.create({
                        auto: true,
                        swf: "__JS__/Uploader.swf",
                        server:"{:U('Upload/UploadImg')}",
                        pick:"#fileWebp_{$field.name}",
                        formData:{"exts":"webp"},
                        duplicate:true,
                        accept: {
                            title: 'Images',
                            extensions: 'webp',
                            mimeTypes: 'webp'
                        }
                    });
                    uploader_{$field.name}.on("uploadSuccess",function(file,data){
                        console.log(file);
                        console.log(data);
                        if(data.ret == 1){
                            var data = data.data;
                            $("#swf_{$field.name}").remove()
                            var html = "<embed style='max-width:150px;max-height:150px' src='"+data.root_path+"' id='webp_{$field.name}'></embed>";
                            $("#tpl-form-file-webp_{$field.name}").append(html);
                            $("#webp_field_hidden_{$field.name}").val(data.path);
                        }
                    });
                    uploader_{$field.name}.on("uploadFinished", function () {
                        uploader_{$field.name}.destroy();
                        init{$field.name}Webuploader();
                    });
                }
                init{$field.name}Webuploader();
            })
		</script>
	</case>

	<case value="editor">
		<div class="am-form-group">
			<label class="am-u-sm-2 am-form-label">
				{$field.title}
				<span class="tpl-form-line-small-title">{$field.subtitle}</span>
			</label>
			<div class="am-u-sm-8">
					<textarea id="editor_{$field.name}" name="{$field.name}" type="text/plain" style="{$field.opt.style}"></textarea>
					<php>
						$value = html_entity_decode($field['value']);
					</php>
					<script>
                        UE.getEditor('editor_{$field.name}').addListener("ready", function () {
                            UE.getEditor('editor_{$field.name}').setContent('{$value}');
                        });
					</script>
			</div>
			<div class="am-u-sm-2">
				{$field.opt.prompt}
			</div>
		</div>
	</case>
	<case value="noselect">
		<div class="am-form-group">
			<label  class="am-u-sm-2 am-form-label">{$field.title} <span class="tpl-form-line-small-title">{$field.subtitle}</span></label>
			<div class="am-u-sm-4">
				<select data-am-selected="{searchBox: 1,maxHeight: 200}" name="{$field.name}" onchange="selectDataList(this)" id="noselect">
					<volist name="field.opt" id="option" >
						<php>
							$selected = $field['value']==$key ? 'selected="selected" ' : '';
						</php>
						<option value="{$key}"  {$selected} >{$option|htmlspecialchars}</option>
					</volist>
				</select>
			</div>
			<div class="am-u-sm-6"></div>
		</div>
	</case>
	<case value="selectdata">
		<php>
			$frist = $field['opt'][0];
		</php>
		<div class="am-form-group">
			<label  class="am-u-sm-2 am-form-label">{$field.title} <span class="tpl-form-line-small-title">{$field.subtitle}</span></label>
			<div class="am-u-sm-4">
				<select data-am-selected="{searchBox: 1,maxHeight: 200}" name="{$field.name}" id="onchangeselect">
					<volist name="frist" id="option">
						<option value="{$key}"  {$selected} >{$option|htmlspecialchars}</option>
					</volist>
				</select>
			</div>
			<div class="am-u-sm-6"></div>
		</div>
		<php>
			$newarr = json_encode($field['opt']);
		</php>
		<script>
			var arr = {$newarr};
			var old_val =("{$field['value']}");
			function selectDataList(dom){
				var selectVal = $(dom).val();
				if(selectVal == "user_car"){
                    selectRes(arr[1]);
				}else if (selectVal == "user_noble"){
                    selectRes(arr[2]);
				}else if (selectVal == "recommend"){
                    selectRes(arr[3]);
				}else if(selectVal == "announce"){
                    selectRes(arr[4]);
				}else if(selectVal == "medal"){
                    selectRes(arr[5]);
                }else{
                    selectRes();
				}
			}
            selectDataList($("#noselect"));
            var p_val = "{$val}";
			function  selectRes(arr) {
				$("#onchangeselect").children().remove();
				if(arr){
                    var len = arr.length;
                    for(var i = 0;i<len;i++){
                        var select = "";
                        if(old_val == arr[i].id){
                            select  = "selected='selected'";
						}
                        var html = "<option value="+arr[i].id+" "+select+">"+arr[i].name+"</option>";
                        $("#onchangeselect").append(html);
                    }
				}else{
                    var html = "<option value='0'> 请选择奖励类型</option>";
                    $("#onchangeselect").append(html);
				}

            }
		</script>
	</case>
</switch>